[Unit]
Description=Create a temporary downloads folder at /tmp/$USER-tmp-downloads

[Service]
Type=oneshot
ExecStart=bash -c "mkdir -pv /tmp/tmp-downloads-$USER"

[Install]
WantedBy=default.target
