#!/bin/bash
# Themes and usage
export MOZ_USE_XINPUT2=1
export QT_STYLE_OVERRIDE=kvantum
export GTK_CSD=0
# Fix CLI applications opened on the desktop opening in xterm
export TERMINAL=kitty
# Java theming and font fixes
export _JAVA_OPTIONS="-Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel -Dswing.crossplatformlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel -Dawt.useSystemAAFontSettings=on -Dswing.aatext=true"
$HOME/.screenlayout/$(cat /etc/hostname).sh
xfce4-clipman &
xbindkeys
xbacklight
#clight-gui --tray &
picom -b
/usr/lib/kdeconnectd &
#/usr/lib/xfce4/notifyd/xfce4-notifyd & ## May be provided by a systemd user service
#/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
xfce4-power-manager &
nm-applet &
blueman-applet &
guxplay &
streamdeck -n &
setxkbmap -layout us,us -variant 'dvorak, '
$HOME/.local/bin/mowbatcheck &
# GTK Fixes
dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY
export GTK_THEME=Graphite-blue-Dark-nord
xrdb ~/.Xresources
