#!/usr/bin/env bash
isxprofile=1
# Minimal shell startup. This defines the sourceife function as well as sets environment variables that are not set by systemd
source $HOME/.config/shell/prestart

sourceife $HOME/.config/shell/autostart x11
