[Desktop Entry]
Version=1.0
Type=Application
Name=Stoat
Comment=Stoat for Desktop.
Exec=stoat-desktop %U
Icon=stoat-desktop
Terminal=false
StartupNotify=false
Categories=Network;
