[Desktop Entry]
Type=Application
Name=VRCX
Version=2026.01.28
Exec=vrcx %U
Terminal=false
Icon=vrcx
StartupWMClass=VRCX
Comment=Friendship management tool for VRChat
Categories=Network;Utility;Game;
MimeType=x-scheme-handler/vrcx;
