:root {
	--color-dark-primary: #000000;
	/* --color-bg: var(--theme_bg_color);
	--color-bg1: var(--theme_base_color); */
	--color-bg: #000000;
	--color-bg1: #000000;
	--color-dark-secondary: #2d2d2d;
	--color-white: #fff;
	--color-active: #6699cc;
	--color-urgent: #8f0a0a;
	--color-primary: @accent_bg_color;

	--margin-lg: 0.5em;
	--margin-sm: 0.25em;

	font-family: 'NotoSans Nerd Font';
}

* {
	border-radius: 0;
	border-color: var(--color-primary);
	has-frame: false;
}

button {
	padding-left: var(--margin-sm);
	padding-right: var(--margin-sm);
	margin-right: var(--margin-sm);
	margin-left: var(--margin-sm);
	outline-width: 0;
	background: inherit;
}

button:hover {
}

.workspaces {
	font-size: 1.25em;
	margin-right: 1em;
}

.workspaces button {
	margin-left: 0px;
	margin-right: 0px;
}


.workspaces .item.focused {
	border-style: solid;
	border-bottom-width: 5px;
}

.widget-container {
	margin-right: 1em;
}

.tray-menu {
	font-size: 1.25em;
	transform: rotate(180deg);
}

.power-menu {
    margin-left: 0px;
}

.popup-power-menu {
    padding: 1em;
}

.popup-power-menu #header {
    font-size: 1.4em;
    border-bottom: 1px solid;
    padding-bottom: 0.4em;
    margin-bottom: 0.8em;
}

.popup-power-menu .power-btn {
    border: 1px solid;
    padding: 0.6em 1em;
    padding-right: 1.75em;
}

.popup-power-menu .power-btn + .power-btn {
    margin-left: 1em;
}

.popup-power-menu .power-btn:hover {
    background-color: #1c1c1c;
}
