[Desktop Entry]
Name=Cider
Exec=env TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiIsImtpZCI6IldlYlBsYXlLaWQifQ.eyJpc3MiOiJBTVBXZWJQbGF5IiwiaWF0IjoxNzg2NjMyOTI0LCJleHAiOjE3OTI2ODA5MjQsInJvb3RfaHR0cHNfb3JpZ2luIjpbImFwcGxlLmNvbSJdfQ.hBgj61sZf-y7bmuvT-joXAUAcf7TVJ51732xnH5vFkLHOmsQHxVqGMYUuI4h8c0-RX3fRY3moylhLW8fewFJyw CIDER_PORT=9000 /usr/bin/cider %U
Terminal=false
Type=Application
Icon=sh.cider.Cider
StartupWMClass=Cider
Comment=A new cross-platform Apple Music experience based on Electron and Vue.js written from scratch with performance in mind.
MimeType=x-scheme-handler/ame;x-scheme-handler/cider;x-scheme-handler/itms;x-scheme-handler/itmss;x-scheme-handler/musics;x-scheme-handler/music;
Categories=AudioVideo;
Keywords=Apple;Music;AM
